/* Title: Malware IP
Author: Vipin Lahoti
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var { background:transparent; font-size:100%; border:0; outline:0; vertical-align:top; margin:0; padding:0 }
a{ text-decoration:none;}
body{font-family: 'Open Sans', sans-serif; font-size:12px;}
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }
.large-2 { width: 16.6667%; }
.large-10 { width: 81.3333%; margin-left:16.6667%; padding:0 1%}
.large-10 h2{ font-size:20px; color:#bc940b; background: url(../images/hd-bg.png) no-repeat center left; padding-left:30px;}
.large-10 hr{border: 1px solid #e7e7e7;    margin-top: 15px;}
.column, .columns { float: left; position: relative; }
.mnull { margin: 0 !important; }
.pad-t-50{ padding-top:51px;}
.mrg0auto { margin: 0 auto !important; }
.pnull { padding: 0 !important; }
.block{ margin-top:10px; margin-bottom:10px; width:100%; display:block; clear:both;}
.header { width: 100%; height: 50px; background: #9c9478; line-height: 50px; border-bottom: 1px solid #6c5b1f; position:fixed; z-index:1; }
.logo { font-size: 24px; font-weight: bold; margin-left: 10px; }
.logo a { color: #fff; }
.time-line-icon { background: url(../images/time-icon.png) right no-repeat; padding-right: 25px; width: 20px; height: 20px; }
.treeview { margin-top: 4px; list-style: none; margin: 0; padding: 10px 0 0 5px; color: #666; font-size: 14px; background: #f2f2df; white-space: nowrap; width: 16.333%; height:91%; position:fixed; }
.treeview .hitarea { background: url(../images/arrow.png) -66px -21px no-repeat; height: 20px; width: 16px; margin-left: -16px; float: left; cursor: pointer; }
/* fix for IE6 */
.treeview li { margin: 0; padding: 3px 0pt 3px 20px; font-weight:bold; }
.treeview li ul{ list-style: none; margin: 0; padding: 0 0 0 10px; font-size: 14px; }
.treeview li ul li ul { list-style: none; margin: 0; padding: 0; font-size: 14px; }
.treeview li ul li{ font-weight:normal; padding-left:5px;}
.treeview li:last-child{ margin-bottom:10px;}
.treeview li ul li:last-child{ margin-bottom:0;}
.treeview li a { color: #666; font-weight:bold; }
.treeview li ul li a { font-weight:normal; }
.treeview li a:hover { color: #bc940b; }
.treeview > li.collapsable{color: #bc940b;}
.treeview > li.collapsable ul li{color: #666;}
.treeview .hover { color: #bc940b !important; }
#treecontrol { margin: 1em 0; display: none; }
.treeview .hover { color: red; cursor: pointer; }
.treeview .expandable-hitarea { background-position: -81px -1px; }
.treeview li.last { background-position: 0 -1766px }
.top-section{ border-bottom:solid 2px #e7e7e7; clear:both; float:left; padding-bottom:6px;}
.search{ margin:0; padding:0; float:right;}
.search li{ float:left; list-style:none; }
.search li select{ width:200px; padding:8px 5px;}
.search li .button{ background:#333; color:#fff; border-radius:5px; padding:8px 15px; text-transform:uppercase; font-weight:700; border:none; cursor:pointer;}
.search li .button:hover, .search li .button:focus{ background:#7d7559;}
#prevLink, #nextLink{background:#ccc; color:#606060; border-radius:5px; padding:8px 15px;}
#prevLink:hover, #nextLink:hover, #prevLink:focus, #nextLink:focus{ background:#7d7559; color:#fff;}
.demo{
                font-family:'Conv_Pothana2000Vedic_1_2_1',Sans-Serif;
                margin:10px auto;
                text-align:left;
/*                border:1px solid #666;*/
                padding:10px 10px 10px 0;
                font-size: 18px;
            }
            .hint
            {
                font-family:'SiddhantaRegular',Sans-Serif;
                text-align:left;
                /*border:1px solid #666;*/
				 margin:10px auto;
                padding:10px 10px 10px 0;
                font-size: 18px;
            }
           /* body {
                background-color:white;
                font-family:Verdana,Tahoma,Arial,Sans-Serif;
                color:black;
                font-size:12px;
            }
            * Generated by FG **/
            @font-face {
                font-family: 'Conv_Pothana2000Vedic_1_2_1';
                src: url('fonts/Pothana2000Vedic_1_2_1.eot');
                src: local('☺'), url('fonts/Pothana2000Vedic_1_2_1.woff') format('woff'), url('fonts/Pothana2000Vedic_1_2_1.ttf') format('truetype'), url('fonts/Pothana2000Vedic_1_2_1.svg') format('svg');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'SiddhantaRegular';
                src: url('fonts/siddhanta.eot');
                src: url('fonts/siddhanta.eot') format('embedded-opentype'),
                     url('fonts/siddhanta.woff') format('woff'),
                     url('fonts/siddhanta.ttf') format('truetype'),
                     url('fonts/siddhanta.svg#SiddhantaRegular') format('svg');
            }
            
#index-div #red{
    overflow-y: auto;
}
.list-style{ margin-left:15px;}
.list-style li{ margin:8px 0;  font-size: 16px; font-weight: 700; color:#888889;}
.mantra-att{  color: #888889; display: inline-block; font-size: 16px; font-weight: bold; line-height: 31px; width: 115px;}
.mantra-att-col{ display: inline-block; width: 30px; font-size: 16px; color: #888889; font-weight: bold;line-height: 31px;}
 @media only screen and  (min-width: 1361px) and (max-width: 1920px) {
	.treeview{ height:93%;}
}